gsthanddetect_so/Debug/
gsthanddetect_app/Debug/
opencv_handdetect/Debug/
*.tmp
*.la
*.d
*.h~
*.c~
*~
*.bak*
*.cproject
*.project
*.libs
*.deps


##
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

##
*.log
*.sql
*.sqlite

##
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

##
*.com
*.class
*.dll
*.exe
*.o
*.so
